.main{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 100%;
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 900;
}
.dir{
    display: flex;
    gap: 10px;
}
.dir > *:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.categoriesContainer{
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    max-width: 100%;
}
.categoryList{
    width: 170px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.categoryList:hover{
    cursor: pointer;
    transform: translateY(-5px);
}