.main{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 100%;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dir{
    display: flex;
    gap: 10px;
}
.categoriesContainer{
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    max-width: 100%;
    padding-top: 5px;
}
.categoryList{
    width: 170px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.categoryList:hover{
    cursor: pointer;
    transform: translateY(-5px);
    border: 1px #be123d75 solid;
    border-radius: 5px;
}