.main{
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topHeader{
    width: 100%;
    background: black;
    color: white;
    padding: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-weight: lighter;
}
.shopNowBtn{
    text-decoration: underline;
    cursor: pointer;
    animation: animshopnow 2s infinite;
}

@keyframes animshopnow{
    0%{
        font-weight: lighter;
    }
    50%{
        font-weight: bolder;
    }
    100%{
        font-weight: lighter;
    }
}

.nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.navTop{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    font-weight: 900;
    text-align: center;
}
.middle{
    display: flex;
    align-items: center;
    gap: 50px;
}
.right{
    display: flex;
    gap: 5px;
    align-items: center;
}

.middle > *:hover{
    text-decoration: underline;
    cursor: pointer;
}


.navDown{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categoriesContainer{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 344px;
    justify-content: space-between;
}
.categoriesContainer > *:hover{
    cursor: pointer;
    text-decoration: underline;
}
.board{
    width: 800px;
    height: 328px;
    display: flex;
    color:white;
}
.boardLeft{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.voucher{
    font-size: 40px;
    font-weight: bold;
}
.boardRight{
    background-image: url('../../images/board.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 100%;
}