.navigation{
    width: 1200px;
}
.navDown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.categoriesContainer{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 344px;
    justify-content: space-between;
}
.categoriesContainer > *:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
}
.board{
    width: 800px;
    height: 328px;
    display: flex;
}
.boardLeft{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.boardLeft > * {
    color: white;
}
.voucher{
    font-size: 40px;
    font-weight: bold;
}
.boardRight{
    width: 500px;
    height: 100%;
}